<p *ngIf="!vm" style="text-align: center;"><em>
    <img src="assets/images/loading-opaque.gif" width="250" alt="بارگذاری">
    <br />
    <span>
      در حال بارگذاری
    </span>
  </em></p>
<div *ngIf="vm">
  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-right">لیست کیف پول ها</h2>
      </div>
      <div class="bg-primary rounded text-light text-center p-3" (click)="showNewListModal(newListModalTemplate)">
        کیف پول جدید
      </div>
    </div>
    <div class="col-sm-8" *ngIf="selectedList">
      <div class="clearfix">
        <!-- <div class="float-left">
          جزئیات
        </div>
        <div class="float-left px-2">
          موجودی
        </div>
        
        <span class="float-right">وضعیت</span>
        <span class="float-right px-2">عنوان</span> -->
      </div>
      <ul id="todo-items" class="list-group mb-2">
        <li class="list-group-item" *ngFor="let item of selectedList; index as i">
          <div class="d-flex">
            <div class="todo-item-checkbox ml-2">
              <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1{{i}}"
               [(ngModel)]="item.iscActive" (change)="updateIsActiveItem($event,item)" />
            </div>
            <div class="flex-fill">
              <input id="{{ 'itemTitle' + i }}" *ngIf="item == selectedItem" type="text"
                class="form-control item-input-control" [(ngModel)]="item.title" (keyup.enter)="updateItem(item, true)"
                (blur)="updateItem(item)" autofocus="autofocus" />
              <div class="todo-item-title" *ngIf="item != selectedItem" [ngClass]="{ 'done-todo': item.done }"
                (click)="editItem(item, 'itemTitle' + i)" class="form-control item-input-control">
                <span>{{ item.title }}</span>
              </div>
            </div>
            <div class="todo-item-commands p-2">
              {{item.balance.value}}
              <span>تومان</span>
            </div>
            <div class="todo-item-commands">
              <button *ngIf="item.id != 0" (click)="showItemDetailsModal(itemDetailsModalTemplate, item)"
                class="btn btn-default btn-xs" role="button">
                <fa-icon [icon]="faEllipsisH"></fa-icon>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="debug">
  <pre>{{ vm | json }}</pre>
</div>



<ng-template #listOptionsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">List Options</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="listOptionsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="inputListTitle">Title</label>
      <input type="text" class="form-control" id="inputListTitle" placeholder="List name..."
        [(ngModel)]="listOptionsEditor.title" (keyup.enter)="updateListOptions()" />
    </div>
    <div *ngIf="debug">
      <pre>{{ listOptionsEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-left">
        <button class="btn btn-default text-danger" (click)="confirmDeleteList(deleteListModalTemplate)">Delete</button>
      </div>
      <div class="float-right">
        <button class="btn btn-default" (click)="listOptionsModalRef.hide()">Cancel</button>
        <button class="btn btn-primary" (click)="updateListOptions()">Update</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #itemDetailsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">توجه</h4>
    <button type="button" class="close float-left" aria-label="Close" (click)="itemDetailsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p class="text-center">آیا از حذف کیف پول مطمئن هستید ؟</p>
  </div>
  <div *ngIf="debug">
    <pre>{{ itemDetailsEditor | json }}</pre>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-left">
        <button class="btn btn-default text-danger" (click)="deleteItem(selectedItem)">بله</button>
      </div>
      <div class="float-right">
        <button class="btn btn-default" (click)="itemDetailsModalRef.hide()">خیر</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteListModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Delete "{{ selectedList?.title }}"?</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="deleteListModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>All items will be permanently deleted. </p>
    <div *ngIf="debug">
      <pre>{{ selectedList | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button type="button" class="btn btn-default" (click)="deleteListModalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteListConfirmed()">Delete</button>
    </div>
  </div>
</ng-template>

<ng-template #newListModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">کیف پول جدید</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newListCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" dir="rtl">
    <div class="form-group">
      <label for="title">عنوان</label>
      <input type="text" class="form-control" id="title" placeholder="عنوان کیف پول" [(ngModel)]="model.title"
        [ngClass]="{ 'is-invalid': newListEditor.error }" (keyup.enter)="addList()" />
      <div *ngIf="newListEditor.error" class="invalid-feedback">
        {{ newListEditor.error }}
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ newListEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-default" (click)="newListCancelled()">لغو</button>
      <button class="btn btn-primary" (click)="createWallet()">ایجاد</button>
    </div>
  </div>
</ng-template>