@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>اطلاعات شخصی</h3>

<div class="row">
    <div class="col-md-6">
        <p>
         حساب شما حاوی اطلاعات شخصی است که به ما داده اید. این صفحه به شما امکان می دهد آن داده ها را دانلود یا حذف کنید.

        </p>
       
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">دانلود</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">حذف</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
