<div class="row">
  <div class="col-4" style="text-align: right;">
    <h1>لیست گزارشات</h1>
    <p>درآمد ها و هزینه های هر دسته بندی </p>
  </div>
  <div class="form-group col-3 m-auto">
    <label for="title">  تاریخ شروع : </label>
    <ngx-datepicker [(ngModel)]="startDate" [options]="options"></ngx-datepicker>
  </div>
  <div class="form-group col-3 m-auto">
    <label for="title"> تاریخ پایان : </label>
    <ngx-datepicker [(ngModel)]="endDate" [options]="options"></ngx-datepicker>
  </div>
  <div class="form-group col-2 m-auto">
    <button class="btn btn-primary" (click)="getList()"> جستجو </button>
  </div>
</div>
<p *ngIf="!vm" style="text-align: center;"><em>
    <img src="assets/images/loading-opaque.gif" width="250" alt="بارگذاری">
    <br />
    <span>
      در حال بارگذاری
    </span>
  </em></p>
<div *ngIf="vm">
  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <button class="btn btn-default float-left" title="Add List..." (click)="showNewListModal(newListModalTemplate)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <h2 class="float-right">دسته بندی ها</h2>
      </div>
      <ul class="list-group">
        <li *ngFor="let list of vm.lists; index as i" class="list-group-item"
          [ngClass]="{ 'active': selectedList == list }" (click)="selectedList = list">
          <div class="clearfix">
            <div class="float-right">
              {{ list.title }}
              <span *ngIf="list.total>0" style="color: #00ff3a!important">
                ({{ list.total }} تومان)
              </span>
              <span *ngIf="list.total<0" style="color: #ee1b1b!important">
                ({{ list.total }} تومان)
              </span>
            </div>
            <div class="float-left text-right">
              <span class="badge badge-light">{{ remainingItems(list) }}</span>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <span class="list-group-item" *ngIf="total>0" style="color: #00ff3a!important">
            واریزها : {{agree}}
          </span>
          <span class="list-group-item" *ngIf="total>0" style="color: #ee1b1b!important">
            برداشت ها : {{dgree}}
          </span>
          <span class="list-group-item" *ngIf="total>0">
            موجودی : {{total}}
          </span>
        </li>
      </ul>
    </div>
    <div class="col-sm-8" *ngIf="selectedList">
      <div class="clearfix">
        <button id="listOptions" class="btn btn-default float-left" title="List Options..."
          (click)="showListOptionsModal(listOptionsModalTemplate)">
          <fa-icon [icon]="faEllipsisH"></fa-icon>
        </button>
        <h2 class="float-right">{{ selectedList.title }}</h2>
      </div>
      <ul id="todo-items" class="list-group mb-2">
        <li class="list-group-item btn btn-primary text-center" style="cursor: pointer;"
          (click)="showItemDetailsModal(itemDetailsModalTemplate, item)">
          افزودن تراکنش
        </li>
        <li class="list-group-item" *ngFor="let item of selectedList.items; index as i">
          <div class="d-flex">
            <div class="todo-item-checkbox">
              <input type="checkbox" [(ngModel)]="item.done" (change)="updateItem(item)" />
            </div>
            <div class="flex-fill">
              <input id="{{ 'itemTitle' + i }}" *ngIf="item == selectedItem" type="text"
                class="form-control item-input-control" [(ngModel)]="item.title" (keyup.enter)="updateItem(item, true)"
                (blur)="updateItem(item)" autofocus="autofocus" />
              <div class="todo-item-title" *ngIf="item != selectedItem" [ngClass]="{ 'done-todo': item.done }"
                (click)="editItem(item, 'itemTitle' + i)" class="form-control item-input-control">
                <span>{{ item.title }}</span>
              </div>
            </div>
            <div class="flex-fill">
              <div class="form-control todo-item-title item-input-control" dir="ltr">
                <span> {{item.amount}} تومان </span>
              </div>
            </div>
            <div class="flex-fill">
              <div class="form-control todo-item-title item-input-control" dir="ltr">
                <span *ngIf="item.transactionType == 0"> واریز </span>
                <span *ngIf="item.transactionType == 1"> برداشت</span>
              </div>
            </div>
            <div class="flex-fill">
              <div class="form-control todo-item-title item-input-control" dir="ltr">
                <span>{{ item.created }}</span>
              </div>
            </div>
            <div class="todo-item-commands">
              <button *ngIf="item.id != 0" (click)="showItemDetailsModal(itemDetailsModalTemplate, item)"
                class="btn btn-default btn-xs" role="button">
                <fa-icon [icon]="faEllipsisH"></fa-icon>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="debug">
  <pre>{{ vm | json }}</pre>
</div>

<ng-template #listOptionsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">ویرایش دسته بندی</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="listOptionsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" dir="rtl">

    <div class="form-group">
      <label for="inputListTitle">عنوان</label>
      <input type="text" class="form-control" id="inputListTitle" placeholder="شخصی ، حقوقی و ..."
        [(ngModel)]="listOptionsEditor.title" (keyup.enter)="updateListOptions()" />
    </div>
    <div *ngIf="debug">
      <pre>{{ listOptionsEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-left">
        <button class="btn btn-default text-danger" (click)="confirmDeleteList(deleteListModalTemplate)">حذف</button>
      </div>
      <div class="float-right">
        <button class="btn btn-default" (click)="listOptionsModalRef.hide()">لغو</button>
        <button class="btn btn-primary" (click)="updateListOptions()">ویرایش</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #itemDetailsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">ویرایش یا افزودن تراکنش</h4>
    <button type="button" class="close float-left" aria-label="Close" (click)="itemDetailsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" dir="rtl">
    <div class="form">
      <div class="form-group">
        <label for="note">عنوان</label>
        <input id="title" class="form-control" [(ngModel)]="itemDetailsEditor.title">
      </div>
      <div class="form-group">
        <label for="note">مقدار</label>
        <input id="amount" class="form-control" [(ngModel)]="itemDetailsEditor.amount">
      </div>
      <div class="form-group">
        <button class="btn btn-default float-left" title="افزودن دسته بندی..."
          (click)="showNewListModal(newListModalTemplate)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <label for="list">دسته بندی</label>
        <select class="form-control" [(ngModel)]="itemDetailsEditor.listId">
          <option [ngValue]="list.id" *ngFor="let list of vm.lists">{{ list.title }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="priority">نوع تراکنش</label>
        <select class="form-control" [(ngModel)]="itemDetailsEditor.transactionType">
          <option [ngValue]="0"> واریز </option>
          <option [ngValue]="1"> برداشت </option>
        </select>
      </div>
      <!-- <div class="form-group">
        <label for="priority">اهمیت</label>
        <select class="form-control" [(ngModel)]="itemDetailsEditor.priority">
          <option [ngValue]="level.value" *ngFor="let level of vm.priorityLevels">{{ level.name }}</option>
        </select>
      </div> -->
      <div class="form-group">
        <label for="note">توضیحات</label>
        <textarea id="note" class="form-control" rows="3" [(ngModel)]="itemDetailsEditor.note"></textarea>
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ itemDetailsEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-left">
        <button class="btn btn-default text-danger" (click)="deleteItem(selectedItem)">حذف</button>
      </div>
      <div class="float-right">
        <button class="btn btn-default" (click)="itemDetailsModalRef.hide()">لغو</button>
        <button class="btn btn-primary" (click)="updateItemDetails()">ثبت</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteListModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">حذف "{{ selectedList?.title }}"?</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="deleteListModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" dir="rtl">
    <p>تمام آیتم ها به صورت دائمی حذف می شوند</p>
    <div *ngIf="debug">
      <pre>{{ selectedList | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button type="button" class="btn btn-default" (click)="deleteListModalRef.hide()">لغو</button>
      <button type="button" class="btn btn-danger" (click)="deleteListConfirmed()">حذف</button>
    </div>
  </div>
</ng-template>

<ng-template #newListModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">دسته بندی جدید</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newListCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" dir="rtl">
    <div class="form-group">
      <label for="title">عنوان</label>
      <input type="text" class="form-control" id="title" placeholder="عنوان دسته بندی "
        [(ngModel)]="newListEditor.title" [ngClass]="{ 'is-invalid': newListEditor.error }" (keyup.enter)="addList()" />
      <div *ngIf="newListEditor.error" class="invalid-feedback">
        {{ newListEditor.error }}
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ newListEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-default" (click)="newListCancelled()">لغو</button>
      <button class="btn btn-primary" (click)="addList()">ایجاد</button>
    </div>
  </div>
</ng-template>