<div class="row justify-content-md-center">
  <div class="col-md-6 col-sm-12">
    <div class="card text-center">
      <div class="card-header">
        کیف پول({{vm.title}})
      </div>
      <div class="card-body">
        <h5 class="card-title">موجودی</h5>
        <p class="card-text">
          {{vm.balance.value}}
          تومان
        </p>
        <a href="#" class="btn btn-light mx-2">
          <img src="assets/images/increase.png" width="25" height="25">
          (درآمد)
        </a>
        <a href="#" class="btn btn-light mX-2">
          <img src="assets/images/cost.png" width="25" height="25">
          (هزینه)
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-md-center mt-2">
  <div class="col-md-3 col-sm-12 d-flex justify-content-center">
    <a class="btn btn-primary" [routerLink]="['/wallet']">مدیریت کیف پول</a>
  </div>
  <div class="col-md-3 col-sm-12 d-flex justify-content-center">
    <a class="btn btn-warning text-light" [routerLink]="['/todo']">گزارشات</a>
  </div>
</div>